<!DOCTYPE html>
<html>
<head>
    <title>SubRefactor - @ViewBag.Title</title>
    @TagHelper.CssFromUrl(@"http://fonts.googleapis.com/css?family=Josefin+Sans|Shadows+Into+Light|Abel")
    @TagHelper.Css("Site.css")
    @TagHelper.Css("tipTip.css", "redmond")
    @TagHelper.Css("redmond", "jquery-ui-1.8.14.custom.css")
    @TagHelper.jQuery("http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.6.2.min.js", "jquery-1.6.2.min.js")
    @TagHelper.jQuery("http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.12/jquery-ui.min.js", "jquery-ui-1.8.12.custom.min.js")
    @TagHelper.Script("global.js")
    @TagHelper.jQuery("jquery.tipTip.min.js")
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24989932-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <div class="page">
        <div>
            <div class="home-banner">
            </div>
            @RenderBody()
            <div id="footer">                
                @Html.ActionLink("Home", "Index", "Home") ▪
                @Html.ActionLink("About", "About", "Home") ▪ <a href="http://dyegocosta.com"
                    target="new">Dyego Costa</a>
                <div class="facebook-button">
                    <div id="fb-root">
                    </div>
                    <script src="http://connect.facebook.net/en_US/all.js#appId=143381015754341&amp;xfbml=1"></script>
                    <fb:like href="https://www.facebook.com/pages/Subrefactor/257062084324696" send="false"
                        layout="button_count" width="45" show_faces="false" font=""></fb:like>
                </div>
            </div>
        </div>
    </div>
    <a id="gitHub-fork" href="http://github.com/dyegocosta/subrefactor">
        <img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/camo.github.com/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
</body>
</html>
