<!DOCTYPE html>
<html>
<head>
    <title>SubRefactor - @ViewBag.Title</title>
    @TagHelper.CssFromUrl(@"http://fonts.googleapis.com/css?family=Josefin+Sans|Shadows+Into+Light|Abel")
    @TagHelper.Css("Site.css")
    @TagHelper.Css("tipTip.css", "redmond")
    @TagHelper.Css("redmond", "jquery-ui-1.8.14.custom.css")    
    @TagHelper.jQuery("http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.6.2.min.js", "jquery-1.6.2.min.js")
    @TagHelper.jQuery("http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.12/jquery-ui.min.js", "jquery-ui-1.8.12.custom.min.js")        
    @TagHelper.Script("global.js")
    @TagHelper.jQuery("jquery.tipTip.min.js")
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24989932-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
</head>
<body>
    <div class="page">
        <div>
            <div class="home-banner">
            </div>
            @RenderBody()
            <div id="footer">
                @Html.ActionLink("Home", "Index", "Home") ▪
                @Html.ActionLink("About", "About", "Home") ▪ <a href="https://github.com/dyego-costa/SubtitleRefactor"
                    target="new">GitHub</a>
                <div class="author">
                    Developed by <a href="http://about.me/dyego.costa" target="new">Dyego Costa</a></div>
            </div>
        </div>
    </div>
</body>
</html>
