    <!DOCTYPE html>
<html>
<head>
    <title>SubRefactor - @ViewBag.Title</title>
    @TagHelper.CssFromUrl(@"http://fonts.googleapis.com/css?family=Josefin+Sans|Shadows+Into+Light|Abel")
    @TagHelper.Css("Site.css")
    @TagHelper.Css("redmond", "jquery-ui-1.8.14.custom.css")
    @TagHelper.Css("redmond", "jquery.ui.dialog.css")
    @TagHelper.Css("redmond", "tipTip.css")
    @TagHelper.jQuery("http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.6.2.min.js", "jquery-1.6.2.min.js")
    @TagHelper.jQuery("http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.12/jquery-ui.min.js", "jquery-ui-1.8.12.custom.min.js")    
    @TagHelper.jQuery("jquery.tipTip.min.js")
    @TagHelper.Script("global.js")
    @RenderSection("Header", required: false)
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24989932-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div class="banner" onclick="location.href='@Url.Content("~/Home/Index")';">
            </div>
            <div class="menu-container">
                <ul id="menu">
                    <li><a href="@Url.Content("~/Subtitle/Preview")">
                        <img src="../../../Content/themes/base/images/preview-button-icon.png" class="tipTip"
                            title="Preview" />
                    </a></li>
                    <li><a href="@Url.Content("~/Subtitle/Synchronize")">
                        <img src="../../../Content/themes/base/images/sync-button-icon.png" class="tipTip"
                            title="Synchronize" />
                    </a></li>
                    <li><a href="@Url.Content("~/Subtitle/Translate")">
                        <img src="../../../Content/themes/base/images/translate-button-icon.png" class="tipTip"
                            title="Translate" />
                    </a></li>
                    <li><a href="@Url.Content("~/Subtitle/Edit")">
                        <img src="../../../Content/themes/base/images/edit-button-icon.png" class="tipTip"
                            title="Edit" />
                    </a></li>
                </ul>
            </div>
            <br />
        </div>
        <div id="main">
            <div class="content">
                @{
                    var originalSubtitle = (SubRefactor.Domain.Subtitle) Session["OriginalSubtitle"];
                    var editedSubtitle = (SubRefactor.Domain.Subtitle) Session["EditableSubtitle"];     
                }
                @if ((originalSubtitle == null && editedSubtitle == null) && (
                    ViewContext.RouteData.Values["Action"].ToString() == "Synchronize" ||
                    ViewContext.RouteData.Values["Action"].ToString() == "Translate" ||
                    ViewContext.RouteData.Values["Action"].ToString() == "Preview" ||
                    ViewContext.RouteData.Values["Action"].ToString() == "Edit"))
                {
                    @SubtitleHelper.SubtitleLoadHelper("LoadSubtitleToSession")
                }
                @if (originalSubtitle != null && editedSubtitle != null)
                {
                    var subtitleName = originalSubtitle.Name;
                    <span id="currentSubtitle" class="ui-state-highlight">Current subtitle: @subtitleName</span>                      
                    <span>(@Html.ActionLink("Remove", "ClearSubtitleSession", "Subtitle", null, new { @class = "change-subtitle" }))</span>
                    <br />
                    <br />
                }
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            @Html.ActionLink("Home", "Index", "Home") ▪
            @Html.ActionLink("About", "About", "Home") ▪ <a href="https://github.com/dyego-costa/SubtitleRefactor"
                target="new">GitHub</a>
            <div class="author">
                Developed by <a href="http://about.me/dyego.costa" target="new">Dyego Costa</a></div>
        </div>
    </div>
</body>
</html>
