<!DOCTYPE html>
<html>
<head>
    <title>SubRefactor - @ViewBag.Title</title>

    @TagHelper.Css("Site.css")
    @TagHelper.Css("redmond", "jquery-ui-1.8.14.custom.css")    
    @TagHelper.Css("redmond", "jquery.ui.dialog.css")
    @TagHelper.Css("redmond", "jquery.ui.slider.css")
    
    @TagHelper.jQuery("jquery-1.5.1.min.js")
    @TagHelper.jQuery("jquery-ui-1.8.12.custom.min.js")
    @TagHelper.jQuery("jquery.ui.core.min.js")
    @TagHelper.jQuery("jquery.ui.widget.min.js")
    @TagHelper.jQuery("jquery.ui.position.min.js")
    @TagHelper.jQuery("jquery.ui.dialog.min.js")
    @TagHelper.jQuery("jquery.ui.button.min.js")

    @RenderSection("Header", required: false)
</head>
<body>
    <div class="page">
        <div id="header">
            <div class="banner" onclick="location.href='@Url.Content("~/Home/Index")';">
            </div>
            <div class="menu-container">
                <ul id="menu">
                    <li><a href="@Url.Content("~/Subtitle/Synchronize")">
                        <img src="../../../Content/themes/base/images/sync-button-icon.png" />
                    </a></li>
                    <li><a href="@Url.Content("~/Subtitle/Translate")">
                        <img src="../../../Content/themes/base/images/translate-button-icon.png" />
                    </a></li>
                    <li><a href="@Url.Content("~/Subtitle/Edit")">
                        <img src="../../../Content/themes/base/images/edit-button-icon.png" />
                    </a></li>
                </ul>                
            </div>   
            <br/>         
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
                @Html.ActionLink("Home", "Index", "Home") ▪
                @Html.ActionLink("About", "About", "Home") ▪
                @FeedbackHelper.ModalLink("") ▪
                <a href="https://github.com/dyego-costa/SubtitleRefactor" target="new">GitHub</a>
                <br />
                <br />
                <br />
                Developed by <a href="http://about.me/dyego.costa" target="new">Dyego Costa</a>
            </div>
    </div>
</body>
</html>
