@model SubRefactor.Models.SubtitleSynchronizationViewModel
@{
    ViewBag.Title = "Synchronization";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}
@section Header {
    @TagHelper.jQuery("jquery.ui.mouse.min.js")
    @TagHelper.jQuery("jquery.ui.slider.min.js")
    @TagHelper.Script("synchronize.js")
}

@using (Html.BeginForm("Synchronize", "Subtitle", FormMethod.Post, new { enctype = "multipart/form-data" }))
{            
    <p>
        @Html.Raw("Time (milliseconds): ") @Html.TextBoxFor(m => m.Delay)
        @Html.ValidationMessageFor(model => model.Delay)
    </p>        
    <br/>
    <div id="slider-range-min">
    </div>
    <br/>
    <p>
        <input type="submit" id="Synchronize" value="Syncronize" class="button"/>
    </p>            
}       
