@model SubRefactor.Models.SubtitleTranslationViewModel
@{
    ViewBag.Title = "Translation";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}
@section Header
{
    @TagHelper.Script("translate.js")
}

@if (HttpContext.Current.Session["Subtitle"] == null)
{     
    @SubtitleHelper.SubtitleUploadHelper("", "")
}

<div class="content">        
        @using (Html.BeginForm("Translate", "Subtitle", FormMethod.Post, new { enctype = "multipart/form-data" }))
        { 
            <p>
                @Html.Label("Translator: ") @Html.DropDownListFor(m => m.Translator, new SelectList(ViewBag.Translators))
            </p>
            <p>
                @Html.Label("From: ") @Html.DropDownListFor(m => m.FromLanguage, new SelectList(ViewBag.Languages, "Value", "Key"), "(Select)", new { id = "FromLanguage" })
                @Html.ValidationMessageFor(model => model.FromLanguage)
            </p>
            <p>
                @Html.Label("To: ") @Html.DropDownListFor(m => m.ToLanguage, new SelectList(ViewBag.Languages, "Value", "Key"), "(Select)", new { id = "ToLanguage" })
                @Html.ValidationMessageFor(model => model.ToLanguage)
            </p>        
            <p>
                <input type="submit" value="Translate" />
            </p>
        }
</div>